.picture{
  width: 410px;
  height: 500px;
  position: relative;
}
.picture__row{
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 0;
}

.picture__bg{
  position: absolute;
  transform: translate(-580px, -300px);
  z-index: 1;
}

.picture__woman{
  transform: translate(-100px, 40px);
  position: absolute;
  z-index: 2;
}

.picture__box{
  position: absolute;
  transform: translate(-110px, 200px);
  z-index: 3;
}
