@font-face {
  font-family: 'Kumbh Sans';
  src: url('../fonts/Kumbh_Sans/KumbhSans-Regular.woff2') format('woff2'),
    url('../fonts/Kumbh_Sans/KumbhSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('../fonts/Kumbh_Sans/KumbhSans-Bold.woff2') format('woff2'),
    url('../fonts/Kumbh_Sans/KumbhSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@import './picture';
@import './content';



*,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
}

.wrapper{
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  background-image: linear-gradient(180deg,rgb(175, 103, 233), rgb(101, 101, 231));
}

.wrapp__row{
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.card{
  width: 820px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 8px 8px 10px rgba(102, 101, 101, 0.2);
  position: relative;
}

.card__row{
  display: grid;
  grid-template-columns: 50% 50%;
}
